# {{ title }}
{%- if description %}

{{ description }}
{%- endif %}

{% for year in messages_by_year.keys() | sort(reverse=new_first) %}

## {{ year }}
{%- for month in messages_by_year[year].keys() | sort(reverse=new_first) %}

### {{ month.to_month_name() }}
{%- for msg in messages_by_year[year][month] | sort(attribute='id', reverse=new_first) %}

> {{ format_blockquote(msg.text) }}
> 
> [источник](https://t.me/c/{{ chat_numeric_id }}/{{ topic_id }}/{{ msg.id }})

---
{%- endfor %}
{%- endfor %}
{%- endfor %}