Внимательно перечитай базу знаний и сгенерируй unified diff патчи для её улучшения:

- Убирай дубли и группируй похожую информацию.
- Если надо, перераспредели информацию по файлам.
- ВАЖНО: структурируй через заголовки разных уровней, запрещено использовать bullet-списки, любое перечисление нужно оформлять как подзаголовки соответствующего уровня.
- Улучшай форматирование и типографику
– Все заголовки и подзаголовки должны быть написаны в нормальном орфографическом регистре: первая буква заглавная, остальные строчные (в заголовках 1-2 уровня может быть эмодзи). Полный CAPS запрещён.
- Если исходный текст противоречит этим правилам, приоритет всегда за правилами.
- **Запрещено удалять информацию,** можно только реорганизовывать её.
- Запрещено добавлять информацию от себя, нужно использовать только то, что есть в базе знаний.

{{ extra_prompt }}
