Внимательно перечитай базу знаний и сгенерируй unified diff патчи для её улучшения:

 - Проверь что вся информация структурирована и логично организована: используются заголовки, подзаголовки, списки, markdown для mkdocs корректна.
 - **Запрещено удалять информацию,** можно только реорганизовывать её.
 - Запрещено добавлять информацию от себя либо вставлять заглушки, нужно использовать только то, что есть в базе знаний.

{{ extra_prompt }}
