Твоя задача – поддерживать базу знаний на основе новой информации из сообщений чата "{{ chat.title }}". Цель: человек
должен открыть страницу и получить всю актуальную на текущую дату ({{ current_date }}) информацию по теме.

Внимательно перечитай текущие файлы базы знаний и новые сообщения, а потом сгенерируй `unified diff` патчи для обновления
базы. Если новая информация противоречит существующей, обновляй существующую информацию, а старую удаляй или
помечай как устаревшую.

- ВАЖНО: **запрещено использовать маркированные и нумерованные списки**, текст должен быть структурирован с помощью заголовков 2-го уровня (##) для основных разделов и 3-го уровня (###) для подразделов и абзацев.
– Запрещено использовать полный CAPS для заголовков.
- Запрещено добавлять информацию от себя либо вставлять заглушки, нужно использовать только то, что есть в базе знаний или истории сообщений.

{{ extra_prompt }}
