site_name: Визы из Сербии
site_description: Гайд по получению виз из Сербии в разные страны
site_url: https://tgdigest.github.io/serbia-visas-for-other-countries/

repo_url: https://github.com/tgdigest/serbia-visas-for-other-countries
edit_uri: edit/main/docs/

theme:
  name: material
  language: ru
  icon:
    edit: material/pencil
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - toc.follow
    - search.highlight
    - search.share
    - content.action.edit

plugins:
  - search
  - awesome-pages
  
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.magiclink
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - tables
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/telegram
      link: https://t.me/+fIZUn78R5SUzYjhi
      name: Serbia visas for other countries
  generator: false

copyright: 'Источник: телеграм-чат <a href="https://t.me/+fIZUn78R5SUzYjhi">Serbia: visas for other countries</a>'
