+++
title = "{{ category.title if category else 'FAQ' }}"
type = "docs"
weight = {{ weight }}
+++

{% for letter, questions in letter_groups %}
## 📖 {{ letter }}

{% for qa in questions %}
### {{ qa.question }}
{% for answer in qa.answers_with_links %}
{% if loop.first or answer.year != loop.previtem.year %}
**📅 {{ answer.year }}**

{% endif %}
> {{ answer.text }}
> {% for link in answer.message_links %}[{{ link.get_title() }}]({{ link.get_url() }}){% if not loop.last %}, {% endif %}{% endfor %}

{% endfor %}
{% endfor %}
{% endfor %}
