+++
linkTitle = "{{ chat.title }}"
title = "{{ chat.get_page_title() }}"
type = "docs"
weight = 10
[sidebar]
  open = true
+++

{{ chat.description }}

{% raw %}{{< cards >}}
{% endraw %}{% if chat.faq %}
  {% raw %}{{< card link="faq" title="FAQ" icon="question-mark-circle" subtitle="Часто задаваемые вопросы" >}}
{% endraw %}{% endif %}
{% if chat.cases and latest_year %}
  {% raw %}{{< card link="cases/{% endraw %}{{ latest_year }}{% raw %}" title="Кейсы" icon="clipboard-list" subtitle="Истории одобрений и отказов" >}}
{% endraw %}{% endif %}
{% raw %}{{< /cards >}}{% endraw %}
